* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
}

.full-img-container {
    flex-grow: 1;
    position: relative;
}


.full-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.full-img-container > img.active {
    opacity : 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
}

.sidebar .fa-chevron-up {
    top: 10px;
}

.sidebar .fa-chevron-down {
    bottom: 10px;
}

.arrow {
    position: absolute;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

.side-img-container {
    width: 100%;
    height: 230px;
}


.side-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}